section.experience.section
    .section-inner
        h2.heading Work Experience
        .content
            each experience in experiences
                .item
                    h3.title=`${experience.jobTitle}`
                        span.place=` ${experience.company} - `
                        span.year=` (${experience.from})-${experience.present ? 'Present' : experience.end}`
                    p=experience.description
        // //content
    // //section-inner
// //section