.item.row
    a.col-md-2.col-sm-4.col-xs-12(href=`/posts/${post.slug}`)
        img.img-responsive.project-image(src=`/photos/posts/thumbnails/${post.thumbnail}`, alt='Thumbnail image')
    .desc.col-md-10.col-sm-8.col-xs-12
        h2.title
            a(href=`/posts/${post.slug}`)=post.postTitle
        span.text-muted=moment(post.publishedDate).format('MMM D, YYYY')
        p=post.description
        p
            a.more-link(href=`/posts/${post.slug}`)
                i.fa.fa-external-link
                |  Read More
    // //desc
// //item