mixin dataList(title, headerColumns, headerValues, rows)
    - headerColumns.push('Actions');
    - headerValues.push('actions');
    .card.mb-3
        .card-header
            i.fa.fa-table=` ${title}`
        .card-body
            .table-responsive
                table#dataTable.table.table-bordered(width='100%', cellspacing='0')
                    thead
                        tr
                            each headerCol in headerColumns
                                th=headerCol
                    tbody
                        each row in rows
                            tr
                                each columnVal in headerValues
                                    if(columnVal== "actions" && row[columnVal] && (row[columnVal].hasOwnProperty('editURL') || row[columnVal].hasOwnProperty('deleteURL')))
                                        td
                                            if(row[columnVal].hasOwnProperty('editURL'))
                                                a(href=row[columnVal].editURL)
                                                    button(class='btn')
                                                        i.fa.fa-pencil
                                            if(row[columnVal].hasOwnProperty('deleteURL'))
                                                    form(method='post' action=row[columnVal].deleteURL)
                                                        input(type='hidden' name='_method' value='delete')
                                                        button(type='submit' class='btn')
                                                            i.fa.fa-trash
                                    else
                                        td=row[columnVal]
